{% extends 'base.html' %}
{% block title %}  Página Inicial {% endblock %}
{% block main %}
	
  </form>
  <!-- Busca clientes -->  	
	<div class="container" id="areabusca">
    <div class="row justify-content-center mb-4 mt-4">
      <div class="col-10">
        <form method='GET'>
          <div class="input-group">
            <input type="text" class="form-control form-control-lg" name="busca" id="busca" type="text" placeholder="Buscar cliente..." value="{{ request.GET.busca }}">
            <div class="input-group-append">
              <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i>  Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
	<!-- Listagem clientes -->  	
	<div class="table-responsive-md">
		<table class="table table-hover table-bordered">
			<thead class="table-info">
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Email</th>
					<th scope="col">Cidade</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>      
				{% for cliente in clientes %}
				<!-- Linhas -->  
				<tr>
					<td>{{ cliente.nomecompleto }} </th>
					<td>{{ cliente.email }} </td>
					<td>{{ cliente.cidade }} </td>
					<td>
						<a href="{% url 'visualizar_cliente' cliente.pk %}" class="btn btn-outline-info" > <i class="far fa-eye"></i> Visualizar </a>
						<a href="{% url 'atualizar_cliente' cliente.id %}" class="btn btn-outline-info"> <i class="fas fa-user-edit"></i> Atualizar </a>
						<a href="{% url 'deletar_cliente' cliente.id %}" class="btn btn-outline-info"><i class="far fa-trash-alt"></i> Excluir </a>       
					</td>
				<!-- /linhas -->  

				</tr> 
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'paginacao.html' %}
{% endblock main %}

