html,
body {
  height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  text-align: center;
  color: gray;
}



.pagination > li > a
{
    background-color: white;
    color: #17a2b8;
    border-color: #17a2b8;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #17a2b8;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #17a2b8 !Important;;
    border-color: white !Important;;

}

.pagination > .active > a:hover
{
    background-color:#147d8e !Important;
}
